html,
body {
    margin: 0;
    padding: 0;
    font-family: "Tomorrow", sans-serif;
}


/* PRIMARY DIV */
.primaryDIV {
    width: 600px;
    min-height: 600px;
}

/* LOGIN AND REGISTER */
.secondaryDIV {
    padding: 2rem;
}


/* HISTORY CARD  */
.history-CARD {
    width: 29rem;
}



/* RESPONSIVE CONFIG */
@media screen and (max-width: 700px) {
    .secondaryDIV {
        padding: 1rem;
    }

    .history-CARD {
        width: 20rem;
    }

}


/* PRESCRIPTION LETTER DIV  FOR PRINT*/
@media print {
    body {
        background: white;
    }

    .primaryDIV {
        width: 100%;
    }

    .priscription-for-print {
        min-height: 900px;
        box-shadow: none;
        border: none;
        margin: 0;
        width: 100%;
        font-size: 12pt;
    }

    .d-print-none {
        display: none !important;
    }
}